[Interface]
Address = {{ wireguard_network_ipv4 | ipaddr('-2') }}{{ ',' + wireguard_network_ipv6 | ipaddr('-2') if ipv6_support else '' }}
ListenPort = {{ wireguard_port }}
PrivateKey = {{ lookup('file', wireguard_config_path + '/private/' + IP_subject_alt_name) }}
SaveConfig = false

{% for u in wireguard_users %}
{% if u in users %}
{% set index = loop.index %}

[Peer]
# {{ u }}
PublicKey = {{ lookup('file', wireguard_config_path + '/public/' + u) }}
AllowedIPs = {{ wireguard_network_ipv4 | ipaddr(index) | ipaddr('address') + '/32' }}{{ ',' + wireguard_network_ipv6 | ipaddr(index) | ipaddr('address') + '/128' if ipv6_support else '' }}

{% endif %}
{% endfor %}
